In [1]:
import pandas as pd

### Reading Data

In [2]:

df = pd.read_csv('data.csv')

In [3]:
df.head()

,fever,bodyPain,age,runnyNose,difffBreath,infectionProb,Unnamed: 6
0,100.185175,1,6,0,1,0,NaN
1,99.041535,0,75,1,-1,0,NaN
2,99.769344,1,61,0,-1,0,NaN
3,101.323815,0,27,0,-1,1,NaN
4,100.458682,1,13,0,0,1,NaN

In [4]:
df = df.drop('Unnamed: 6', 1)

In [5]:
df.tail()

           fever  bodyPain  age  runnyNose  difffBreath  infectionProb
2994   98.125554         1   98          0            0              1
2995   99.039921         1   35          0            1              0
2996  100.077274         1   14          1            0              0
2997   99.395245         0   70          1            0              1
2998   99.948183         0    4          0           -1              0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2999 non-null   float64
 1   bodyPain       2999 non-null   int64
 2   age            2999 non-null   int64
 3   runnyNose      2999 non-null   int64
 4   difffBreath    2999 non-null   int64
 5   infectionProb  2999 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 140.7 KB

In [7]:
df['difffBreath'].value_counts()

 1    1057
-1     993
 0     949
Name: difffBreath, dtype: int64

In [8]:
df.describe()

,fever,bodyPain,age,runnyNose,difffBreath,infectionProb
count,2999.000000,2999.000000,2999.000000,2999.000000,2999.00000,2999.000000
mean,100.018823,0.489163,50.038680,0.518506,0.02134,0.487829
std,1.144650,0.499966,28.942972,0.499741,0.82664,0.499935
min,98.000036,0.000000,1.000000,0.000000,-1.00000,0.000000
25%,99.054063,0.000000,25.000000,0.000000,-1.00000,0.000000
50%,100.038180,0.000000,50.000000,1.000000,0.00000,0.000000
75%,101.000171,1.000000,75.000000,1.000000,1.00000,1.000000
max,101.999016,1.000000,100.000000,1.000000,1.00000,1.000000

## Train Test  Splitting

In [9]:
import numpy as np

In [10]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size=int(len(data) * ratio)
    test_indices=shuffled[:test_set_size]
    train_indices=shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [11]:
train, test = data_split(df,0.2)

In [12]:
train

           fever  bodyPain  age  runnyNose  difffBreath  infectionProb
1103  100.102697         1    9          1            0              1
1569  101.654095         1   42          0           -1              0
2229  100.723456         1   99          0            1              1
2296   99.037731         1   50          0            1              1
1800  101.436650         1   43          0           -1              1
...          ...       ...  ...        ...          ...            ...
1638   98.506814         0   49          0            0              0
1095   98.895147         1   94          0            0              1
1130  100.482632         0   89          0           -1              1
1294  101.548974         0   21          0            0              0
860    98.607475         0   10          1            1              0

[2400 rows x 6 columns]

In [13]:
test

           fever  bodyPain  age  runnyNose  difffBreath  infectionProb
1376   98.976301         1   22          1           -1              0
932   101.298716         1   99          0            1              0
144    98.128090         1   29          1            1              1
1752  101.721592         1   68          1           -1              0
51    101.056272         1   49          1            1              0
...          ...       ...  ...        ...          ...            ...
842   100.175340         0    2          0           -1              1
637    98.555670         0   51          0            1              1
695    99.244105         0   21          0            1              1
226   101.018968         1   48          0           -1              1
2603   99.760060         1   83          1            0              0

[599 rows x 6 columns]

In [14]:
X_train = train [['fever', 'bodyPain','age', 'runnyNose', 'difffBreath']].to_numpy()
X_test = test [['fever', 'bodyPain','age', 'runnyNose', 'difffBreath']].to_numpy()

In [15]:
Y_train=train[['infectionProb']].to_numpy().reshape(2400,)
Y_test=test[['infectionProb']].to_numpy().reshape(599,)

In [16]:
from sklearn.linear_model import LogisticRegression

In [17]:
clf=LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [18]:
clf.predict_proba([[100,1,22,-1,1]])

array([[0.46945901, 0.53054099]])

In [19]:
inputFeatures=[100,1,22,-1,1]
infProb=clf.predict_proba([inputFeatures])[0][1]

In [20]:
infProb

0.530540994875118